@keyframes blinkingColor{
    0%		{ background-color: #000000;}
    50%		{ background-color: #5c99ac;}
    100%	{ background-color: #000000;}
}

@keyframes flyup {
    from {top: 200px; background-color: #15161A;}
    to {top: 88px;}
}

.contain {
    padding: 1.5em 1.5em 1em 1.5em; 
    display: flex;
    align-items: center;
    color: aliceblue;
    background-color: #15161A;
    border-bottom: 1px solid #CCC;
}

.onGoing {
    background-color: #3b6978;
    animation: blinkingColor 1.5s infinite;
}

.left-component {
    flex: 1;
    flex-direction: column;
}

.ID {
    font-size: 1.6em;
    letter-spacing: 7px;
    font-weight: 700;
}

.left-component .item {
    color: #CCC;
}

.right-component {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-component .pickup {
    color: #CCC;
    margin-right: 1em;
    padding-top: 3px;
}

.right-component .time {
    font-size: 1.8em;
    font-weight: bolder;
}

.showOrder{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 88px;
    bottom: 0px;
    width: 100%;
    align-self: center;
    background-color: #FFF;
    animation: flyup 0.5s;
    animation-fill-mode: forwards;
    border-radius: 10px;
    z-index: 5;
}

.showOrder .heading {
    background-color: #e9ecef;
    color: #000;
}

.btn-hidden {
    position: fixed;
    right: 0px;
    width: 40px;
    background-color: #ff9a9a;
}

.btn-order {
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.user-info {
    margin-top: 55px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    border-radius: 8px;
    background-color: #d7d7d754;
}

.user-info .left {
    flex: 4
}

.user-info .left p {
    margin: 5px;
    margin-left: 10px;
}

.user-info .right {
    flex: 2;
}

.menu {
    width: 90%;
    margin-top: 20px;
    padding: 10px;
    margin-left: 5%;
    border-radius: 8px;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 120px;
    bottom: 60px;
    background-color: #d7d7d754;
}

.menu-title {
    font-size: 18px;
    font-family: "Amatic SC",cursive;
}

.menu-price {
    margin-left: 20px;
    border-radius: 40px;
    font-size: 18px;
    padding: 0 10px;
    color: #000;
    background-color: #ffa3a3;
}

.dishes {
    margin: 10px;
    padding: 5px;
    font-size: 18px;
    display: flex;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
}

.dishes .quantity {
    flex: 1;
}

.dishes .name {
    flex: 3;
}

.dishes .price {
    flex: 1;
}

.listDishes .conclusion {
    margin-top: 20px;
    font-weight: bold;
}