.SelectRule {
    background-color: #20272F;
    display: flex;
    position: fixed;
    width: 100%;
    margin-top: 35px;
    flex-direction: row;
    align-items: flex-end;
    z-index: 2;
}

.SelectRule .button{
    flex: 1;
    border: none;
    height: 100%;
    color: #CCC !important;
    font-family: 'Balsamiq Sans', cursive;
    background-color: #20272F !important;
}

.SelectRule .active {
    color: #4f8a8b !important;
    border-bottom: 4px solid #4f8a8b;
}